<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAHlFgTMK3qelV36p7gWvgxBoBzGnza6mw</string>
	<key>GCM_SENDER_ID</key>
	<string>350287245353</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.absensiSekolah</string>
	<key>PROJECT_ID</key>
	<string>aplikasi-absensi-sd</string>
	<key>STORAGE_BUCKET</key>
	<string>aplikasi-absensi-sd.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:350287245353:ios:c8ec2b809ca67578742c38</string>
	<key>DATABASE_URL</key>
	<string>https://aplikasi-absensi-sd-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>